* {
    box-sizing: border-box;
  }

  .hide{
    display: none;
}
h1{
    color:#1b0f86;
}
  body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background: linear-gradient(0deg, rgba(19,41,61,1) 0%, rgba(237,245,249,1) 63%);
  }
  
  button {
    background: radial-gradient(circle, rgb(150, 140, 240) 0%, rgba(16, 12, 211, 0.954) 100%);
    border-radius: 8px;
    border-color: #13293d;
    color: #13293d;
    cursor: pointer;
    font-size: 2em;
    letter-spacing: 0.21px;
    line-height: 16px;
    padding: 20px 52px;
    text-align: center;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    margin-top: 0.6em;
  }
  
  section {
    flex: 0 auto;
    padding: 8px;
    margin-top: 50px;
    background-color: rgba(151, 151, 151, 0.589);
    border-radius: 8px;
  }

  
  @media screen and (max-width: 1183px) {
  
    section {
      margin: 20px auto;
      width: 92vw;
    }
    button{
        font-size: 1em;
    }
  }
  
  @media screen and (max-width: 504px) {
    body {
      font-size: 0.5em;
    }
    section {
        margin: 10px auto;
        width: 46vw;
      }
  

 
}
  